<footer >
    <span class="input-group-text" id="basic-addon1"> 
      <div class="container mt-8">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="{% url 'home' %}"       class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="{% url 'termscond' %}"  class="nav-link px-2 text-muted">Terms & Conditions</a></li>
          <li class="nav-item"><a href="{% url 'pricing' %}"    class="nav-link px-2 text-muted">Pricing</a></li>
          <li class="nav-item"><a href="{% url 'faq' %}"        class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="{% url 'about' %}"      class="nav-link px-2 text-muted">About</a></li>
        </ul>
      </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a href="#" class="nav-link px-2 fa fa-facebook"></a></li>
          <li class="ms-3"><a href="#" class="nav-link px-2 fa fa-twitter"></a></li>
          <li class="ms-3"><a href="#" class="nav-link px-2 fa fa-linkedin"></a></li>
          <li style="padding-left: 10px;"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sendMessage">Contact us</button> </li>
        </ul>
      </div>
    </span>
</footer>