{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#Menu" aria-controls="Menu">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png" style="object-fit: contain; height: 15px;">
  </button>
  <img src="{% static 'icons/applogo.png' %}" style="width: 150; height: auto; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 20px; cursor: pointer;" class="d-inline-block align-center" alt="MyApp" onclick="window.location.href='{% url 'home' %}';">
  
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
 
      <div class="dropdown">
        <i class="bi bi-bell"></i>
        {% with notifications=user.notifications %}
        {% if notifications.all|length != 0 %}
        <span class="badge bg-danger">{{ notifications.all|length }}</span>
        {% endif %}
        {% endwith %}
    
      <form class="d-flex">
        <a class="btn btn-light" href="{% url 'projects:create_project' %}" id="Create">New Project</a>
        <a><button type="button" class="btn btn-success" id="Send" style="display:none" onclick="submitTaskForm()">Send Project</button></a>
        <a class="nav-link" href="{% url 'companies:edit' %}" style="color: white;">{{ user.company.company }}</a>
      </form>
    </div>
</nav>
