{% extends  'beforeApp.html'%}
{% load static %}
{% block content %}




<div class="container mt-4" style = "padding-bottom:100px;">
    <hr>
    <h1>Pricing</h1>
    <hr>
        <div class="row">
        <div class="col-md-6">
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                
                <p>The subscription are done monthly.</p>
                <p>xxxx €. </p>
                <p>You can pay through Payconiq, Visa/MasterCard or PayPal</p>
            </div>
        </div>
    </div>
</div>



{% include 'footer.html' %}
{% endblock content %}
