{% extends  'beforeApp.html'%}
{% load static %}
{% block content %}
<hr>
<h1>Project Publishement</h1>
<hr>
<p>To find the right Partner who can help you to fullfill your project you need to publish a new project.</p>
<p>You have to big categories that you can consider as project type: IT & Services.</p>
<p>If it is a IT Project you the possiblities to precise which domains </p>
<ul>
    <li>Web Developpement</li>
    <li>Digital Marketing</li>
    <li>Infrastructures</li>
    <li>Networking</li>
    <li>Cloud Technologies</li>
    <li>Artificial Intelligence</li>
    <li>Data Science</li>
    <li>Software Engineering</li>
    <li>DevOps</li>
    <li>ERP Solutions</li>
</ul>
<p>And for Service </p>
<ul>
    <li>General Administration</li>
    <li>Finance</li>
    <li>Insurrance</li>
    <li>Legal Activity</li>
    <li>Graphics and Design</li>
    <li>Photography</li>
    <li>Research</li>
    <li>Coaching</li>
</ul>
<p>Everyone in this plateform can see your project and has the possiblity to engage to the project</p>
<p>If you want to involove more partners to your project, you have the possiblity to duplicate your project.</p>


{% endblock content %}
