{% extends  'beforeApp.html'%}
{% load static %}
{% block content %}


<hr>
<div class="card">
    <div class="card-header">
        <div >Here You can reset your Password</div>
        <div >Please enter your new password while considering the mentioned instructions:</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Set Password</button>
        </form>
    </div>
</div>
<hr>
{% endblock content %}
