<!-- templates/forgot_password.html -->
{% extends  'beforeApp.html'%}
{% load static %}
{% block content %}


<hr>
<div class="card">
    <div class="card-header">
        <div >Let's start the Process</div>
        <div >Enter your Email Address below to get the instructions:</div>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <input type="email" id="email" name="email" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>

</div>
<hr>    
    
    
{% endblock content %}