{% extends 'beforeApp.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}

<div class="container mt-4" style="padding-bottom:100px;">
    
  <div class><h3 style="font-family: 'Calibri'; padding-top: 50px;">We help you to Grow your Company</h3>
      <hr>
      <div class="container landingpage "id="IdeaContainer">
          <h5>Luxembourg's Platform for</h5>
          <h5>Business Partners & Projects</h5>
      </div>


</div>
<div class="shadow-lg p-3 mb-5 bg-body rounded" style="padding-bottom: 200px">
        <form method="post" id="SignInForm">
          {% csrf_token %}
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><img class="icon input-icon" src="{% static 'icons/profile-user.svg' %}" width="20" height="20" alt=""> </span>
            <!--{{ form.username.label_tag }}-->
            {{ form.username }}
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><img class="icon input-icon" src="{% static 'icons/key.svg' %}" width="20" height="20" alt=""> </span>
            <!--{{ form.username.label_tag }}-->
            {{ form.password }}
          </div>
        </form>
        <div style="text-align: right;">
          <button type="button" onclick="document.getElementById('SignInForm').submit()" class="btn btn-dark">Sign In</button>
        </div>
        <br>
        {% if form.errors %}
        <div class="alert alert-danger">
          <strong>Oops!</strong> The Username or Password is incorrect! Please try again.
        </div>
        {% endif %}
        <div style="text-align: right"><a href="{% url 'forgot_password' %}"><button type="button" class="btn btn-link btn-sm">Forgot Password?</button></a></div>
        </div>
    </div>
                
{% include 'footer.html' %}
{% endblock content %}




