{% load mjml %}
{% load static %}
{% mjml %}
<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-image width="100px" height="100px" src="http://projectgo.lu/static/icons/applogo.png"></mj-image>
        <!--mj-image src="{% static 'icons/applogo.png' %}" width="100px" height="100px"></mj-image-->
        <!--mj-image width="100px" src="https://mjml.io/assets/img/logo-small.png"></mj-image-->
        <mj-text font-size="20px" color="#F45E43" font-family="helvetica">Hello Chakib</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
{% endmjml %}